.circular-gallery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: grab;
    position: relative;
    /* Ensure it contains the canvas absolute position if needed, though ogl usually appends canvas */
}

.circular-gallery:active {
    cursor: grabbing;
}

.circular-gallery canvas {
    display: block;
    width: 100%;
    height: 100%;
}